@import url(./css-classes.css);
@import url(./animations.css);
@import url(./modal.css);

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

html {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('/backgrounds/wood.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  font-size: 62.5%;
  width: 100vw;
  overflow-x: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body,
html {
  height: 95vh;
}

#app {
  animation-duration: 1s;
  animation-name: fade-in;
  height: 95vh;
}
button {
  cursor: pointer;
  color: white;
  transition: all ease 250ms;
  background-color: rgba(149, 148, 148, 0.5);
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  padding: 10px;
}
button img {
  pointer-events: none;
}

button:hover {
  scale: 1.1;
}

button:active {
  scale: 1.2;
  opacity: 0.5;
}
label {
  user-select: none;
}

input {
  font-size: 20px;
  padding-left: 20px;
  transition: all ease 500ms;
}
input,
textarea {
  resize: none;
  outline: none;
  border: 0px;
  transition: all ease 400ms;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input:focus,
textarea:focus {
  box-shadow: 0 0 10px white;
  border-color: white;
  border-style: solid;
}
::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #fbfbfb;
}



