html {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('/backgrounds/wood.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body,
html {
  padding: 0;
  margin: 0;
  height: 95vh;
}

#app {
  animation-duration: 1s;
  animation-name: fade-in;
  height: 95vh;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}
button {
  cursor: pointer;
  color: white;
  transition: all ease 250ms;
  background-color: rgba(149, 148, 148, 0.5);
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  padding: 10px;
}
button img {
  pointer-events: none;
}

button:hover {
  scale: 1.1;
}

button:active {
  scale: 1.2;
  opacity: 0.5;
}
label {
  user-select: none;
}

input {
  font-size: 20px;
  padding-left: 20px;
  transition: all ease 500ms;
}
input,
textarea {
  resize: none;
  outline: none;
  border: 0px;
  transition: all ease 400ms;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input:focus,
textarea:focus {
  box-shadow: 0 0 10px white;
  border-color: white;
  border-style: solid;
}
::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #fbfbfb;
}

/*Componente transparente*/
.componente-cristal {
  backdrop-filter: blur(12.1px);
  -webkit-backdrop-filter: blur(12.1px);
  border-color: white;
  border-radius: 15px;
  border-style: solid;
  text-align: center;
  align-items: center;
  display: flex;
  transition: all ease 250ms;
  outline: none;
}
/*Animaciones*/
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotate {
  0% {
    rotate: 0;
  }
  100% {
    rotate: 360deg;
  }
}
@keyframes pop {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
